### Laravel ###
.env*
!.env.example
!.env.ci
/public/hot
/public/storage
/storage/*.key

### Docker & Homestead ###
/docker-compose.override.yml
Homestead.json
Homestead.yaml

### Composer ###
/vendor

### NPM ###
/node_modules
/npm-debug.log
/yarn-error.log

### CI Tools ###
/.phpunit.*
/.php-cs-fixer.cache

### UI ###
/public/build
/public/vendor/horizon
/public/vendor/telescope

### IDEs ###
/.idea
/.vscode

### Operating System ###
.DS_Store
Thumbs.db

### Other ###
/draft.yaml
/.blueprint
/ray.php
/.phpactor.json
